h1{
    color:white;
    font-family: "Impact";
    text-align: center;
    background-color:black;
}
h2{
    color:brown;
    font-family:"cursive";
    text-align: center;
    background-color: chartreuse;
}
body{
     background-image: url("../images/haikei.jfif");
}